
@{
    ViewBag.Title = "Index";
}

<img src="https://www.kopykitab.com/blog/wp-content/uploads/2018/11/comp.-sci.png" style="width:70%;margin-left:14em;" />


<h2><b>About the program</b></h2>

<p><b>Computer Science Technology</b>is a three-year career program designed to provide you with a <b>strong background</b> in object-oriented methodology, 
    particularly in program design and system analysis. Web concepts are integrated into a majority of courses and focus on the development of
    dynamic database-driven web applications on a variety of operating system platforms. The program will focus on <b>computer programming, operating systems,
    database and web technology, data communication and networking, security and advanced programming languages.</b></p>

<h2>Provides skills in:</h2>
<ul>
    <li>Problem Solving</li>
    <li>Operating Systems Object oriented methodology</li>
    <li>Software Design</li>
    <li>Gaming</li>
    <li>Modern Systems Analysis and Design</li>
    <li>Internet of Things</li>
</ul>

<h2>Your Career</h2>
<p>
    The program prepares you for a <b>wide range of careers</b> such as a software developer, information systems specialist, PC specialist and more.
    The technical and business skills you will learn in the Computer Science Technology diploma program will <b>qualify you</b> for some of the most
    dynamic in-demand jobs in the computer industry today.
</p>
