
@{
    ViewBag.Title = "Semester";
}


<h2><b>What courses are offered in the fifth semester?</b></h2>

<p>In the fifth semester, you will have the chance to take six courses that will
    further your knowledge in computer science. You will have: </p>

<ul>
    <li>Final Project - Amin Ranj Bar</li>
    <li>Mobile Application Development - Christine Gerard</li>
    <li>Career Planning - Pedro Carbrejo</li>
    <li>Building Windows and Web apps - The <b>incredible</b> Brendan Wood</li>
    <li>Software Testing - Christine Gerard</li>
    <li>Database Systems - Robert Biermann</li>
</ul>




