
@{
    ViewBag.Title = "Testimonials";
}

<h1 style="text-align:center;"><b>Testimonials</b></h1>
<h3 style="opacity:0.5;text-align:center;font-size:100%">A few testimonials from our students</h3>
<br />
<h3 style="text-align:center;">
    <span style="font-size:200%">"</span>At the beginning, I was hesitating between the 2-year computer science program or the 3-year one. But after 2 full years
    in the Legacy to Mobile program, I can confidently say that it was the <b>best decision of my life!</b> Amazing program and amazing teachers.<span style="font-size:200%">"</span>
</h3>
<h2 style="text-align:center;"><b><span style="color:red">Hicham</span></b>, 18</h2>
<br />
<br />
<h3 style="text-align:center;">
    <span style="font-size:200%">"</span>This program has some very interesting classes. But what makes the program even better
    is the teachers. They are really passionate about their subjects and they make 2-hour classes feel like 30 minutes! Especially Brendan Wood.<span style="font-size:200%">"</span>
</h3>
<h2 style="text-align:center;"><b><span style="color:red">Amin</span></b>, 18</h2>
